# ==========================
# Python / Jupyter
# ==========================
*.pyc
__pycache__/
.ipynb_checkpoints/
.env
.venv/
*.sqlite3

# ==========================
# VSCode
# ==========================
.vscode/
*.code-workspace

# ==========================
# 시스템
# ==========================
.DS_Store
Thumbs.db

# ==========================
# 데이터 / 결과물
# ==========================
# *.csv
# *.xlsx
# *.pdf
*.pkl
*.joblib
*.h5
*.html
*.mp4
*.gif

# 개별 결과물 추적을 위해 charts/summary 폴더 내부는 제외 가능
!*/charts/
!*/summary/

# ==========================
# 빈 폴더 유지 파일
# ==========================
!.gitkeep

